{% extends "base.html" %}
{% block title %}
Guest Book
{% endblock title %}
{% block content %}
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>Guest Book</h1>
        <a type="button" class="btn btn-link" href="{{ url_for('main.sign') }}">
            Sign the Guest Book
        </a>
    </div>

    {% for comment in comments_qs %}
       <div class="page-header">
        <h1>{{comment.name}}</h1>
    </div>

    <div class="well">
        <p>{{comment.comment|safe}}</p>
    </div>
    {% endfor %}
</div> <!-- /container -->
{% endblock content %}